Data sources:
- [Vehicles from Traficom](https://tieto.traficom.fi/en/datatraficom/open-data?toggle=Open%20data%20for%20vehicles)
- [Municipalities from Statistics Finland](https://stat.fi/en/luokitukset/kunta/)

In [1]:
# Municipalities data
from src.processors.imports import get_municipalities

municipalities = get_municipalities()

display(municipalities)

{'020': 'Akaa',
 '005': 'Alajärvi',
 '009': 'Alavieska',
 '010': 'Alavus',
 '016': 'Asikkala',
 '018': 'Askola',
 '019': 'Aura',
 '035': 'Brändö',
 '043': 'Eckerö',
 '046': 'Enonkoski',
 '047': 'Enontekiö',
 '049': 'Espoo',
 '050': 'Eura',
 '051': 'Eurajoki',
 '052': 'Evijärvi',
 '060': 'Finström',
 '061': 'Forssa',
 '062': 'Föglö',
 '065': 'Geta',
 '069': 'Haapajärvi',
 '071': 'Haapavesi',
 '072': 'Hailuoto',
 '074': 'Halsua',
 '075': 'Hamina',
 '076': 'Hammarland',
 '077': 'Hankasalmi',
 '078': 'Hanko',
 '079': 'Harjavalta',
 '081': 'Hartola',
 '082': 'Hattula',
 '086': 'Hausjärvi',
 '111': 'Heinola',
 '090': 'Heinävesi',
 '091': 'Helsinki',
 '097': 'Hirvensalmi',
 '098': 'Hollola',
 '102': 'Huittinen',
 '103': 'Humppila',
 '105': 'Hyrynsalmi',
 '106': 'Hyvinkää',
 '108': 'Hämeenkyrö',
 '109': 'Hämeenlinna',
 '139': 'Ii',
 '140': 'Iisalmi',
 '142': 'Iitti',
 '143': 'Ikaalinen',
 '145': 'Ilmajoki',
 '146': 'Ilomantsi',
 '153': 'Imatra',
 '148': 'Inari',
 '149': 'Ingå',
 '151': 'Isojoki',
 '152': 'Isokyrö',
 '165': 'Janakkala',
 '167': 'Joensuu',
 '169': 'Jokioinen',
 '170': 'Jomala',
 '171': 'Joroinen',
 '172': 'Joutsa',
 '176': 'Juuka',
 '177': 'Juupajoki',
 '178': 'Juva',
 '179': 'Jyväskylä',
 '181': 'Jämijärvi',
 '182': 'Jämsä',
 '186': 'Järvenpää',
 '202': 'Kaarina',
 '204': 'Kaavi',
 '205': 'Kajaani',
 '208': 'Kalajoki',
 '211': 'Kangasala',
 '213': 'Kangasniemi',
 '214': 'Kankaanpää',
 '216': 'Kannonkoski',
 '217': 'Kannus',
 '218': 'Karijoki',
 '224': 'Karkkila',
 '226': 'Karstula',
 '230': 'Karvia',
 '231': 'Kaskinen',
 '232': 'Kauhajoki',
 '233': 'Kauhava',
 '235': 'Kauniainen',
 '236': 'Kaustinen',
 '239': 'Keitele',
 '240': 'Kemi',
 '320': 'Kemijärvi',
 '241': 'Keminmaa',
 '322': 'Kimitoön',
 '244': 'Kempele',
 '245': 'Kerava',
 '249': 'Keuruu',
 '250': 'Kihniö',
 '256': 'Kinnula',
 '257': 'Kirkkonummi',
 '260': 'Kitee',
 '261': 'Kittilä',
 '263': 'Kiuruvesi',
 '265': 'Kivijärvi',
 '271': 'Kokemäki',
 '272': 'Kokkola',
 '273': 'Kolari',
 '275': 'Konnevesi',
 '276': 'Kontiolahti',
 '280': 'Korsnäs',
 '284': 'Koski Tl',
 '285': 'Kotka',
 '286': 'Kouvola',
 '287': 'Kristinestad',
 '288': 'Kronoby',
 '290': 'Kuhmo',
 '291': 'Kuhmoinen',
 '295': 'Kumlinge',
 '297': 'Kuopio',
 '300': 'Kuortane',
 '301': 'Kurikka',
 '304': 'Kustavi',
 '305': 'Kuusamo',
 '312': 'Kyyjärvi',
 '316': 'Kärkölä',
 '317': 'Kärsämäki',
 '318': 'Kökar',
 '398': 'Lahti',
 '399': 'Laihia',
 '400': 'Laitila',
 '407': 'Lapinjärvi',
 '402': 'Lapinlahti',
 '403': 'Lappajärvi',
 '405': 'Lappeenranta',
 '408': 'Lapua',
 '410': 'Laukaa',
 '416': 'Lemi',
 '417': 'Lemland',
 '418': 'Lempäälä',
 '420': 'Leppävirta',
 '421': 'Lestijärvi',
 '422': 'Lieksa',
 '423': 'Lieto',
 '425': 'Liminka',
 '426': 'Liperi',
 '444': 'Lohja',
 '430': 'Loimaa',
 '433': 'Loppi',
 '434': 'Loviisa',
 '435': 'Luhanka',
 '436': 'Lumijoki',
 '438': 'Lumparland',
 '440': 'Larsmo',
 '441': 'Luumäki',
 '475': 'Malax',
 '478': 'Mariehamn',
 '480': 'Marttila',
 '481': 'Masku',
 '483': 'Merijärvi',
 '484': 'Merikarvia',
 '489': 'Miehikkälä',
 '491': 'Mikkeli',
 '494': 'Muhos',
 '495': 'Multia',
 '498': 'Muonio',
 '499': 'Korsholm',
 '500': 'Muurame',
 '503': 'Mynämäki',
 '504': 'Myrskylä',
 '505': 'Mäntsälä',
 '508': 'Mänttä-Vilppula',
 '507': 'Mäntyharju',
 '529': 'Naantali',
 '531': 'Nakkila',
 '535': 'Nivala',
 '536': 'Nokia',
 '538': 'Nousiainen',
 '541': 'Nurmes',
 '543': 'Nurmijärvi',
 '545': 'Närpes',
 '560': 'Orimattila',
 '561': 'Oripää',
 '562': 'Orivesi',
 '563': 'Oulainen',
 '564': 'Oulu',
 '309': 'Outokumpu',
 '576': 'Padasjoki',
 '577': 'Paimio',
 '578': 'Paltamo',
 '445': 'Pargas',
 '580': 'Parikkala',
 '581': 'Parkano',
 '599': 'Pedersöre',
 '583': 'Pelkosenniemi',
 '854': 'Pello',
 '584': 'Perho',
 '592': 'Petäjävesi',
 '593': 'Pieksämäki',
 '595': 'Pielavesi',
 '598': 'Jakobstad',
 '601': 'Pihtipudas',
 '604': 'Pirkkala',
 '607': 'Polvijärvi',
 '608': 'Pomarkku',
 '609': 'Pori',
 '611': 'Pornainen',
 '638': 'Porvoo',
 '614': 'Posio',
 '615': 'Pudasjärvi',
 '616': 'Pukkila',
 '619': 'Punkalaidun',
 '620': 'Puolanka',
 '623': 'Puumala',
 '624': 'Pyhtää',
 '625': 'Pyhäjoki',
 '626': 'Pyhäjärvi',
 '630': 'Pyhäntä',
 '631': 'Pyhäranta',
 '635': 'Pälkäne',
 '636': 'Pöytyä',
 '678': 'Raahe',
 '710': 'Raseborg',
 '680': 'Raisio',
 '681': 'Rantasalmi',
 '683': 'Ranua',
 '684': 'Rauma',
 '686': 'Rautalampi',
 '687': 'Rautavaara',
 '689': 'Rautjärvi',
 '691': 'Reisjärvi',
 '694': 'Riihimäki',
 '697': 'Ristijärvi',
 '698': 'Rovaniemi',
 '700': 'Ruokolahti',
 '702': 'Ruovesi',
 '704': 'Rusko',
 '707': 'Rääkkylä',
 '729': 'Saarijärvi',
 '732': 'Salla',
 '734': 'Salo',
 '736': 'Saltvik',
 '790': 'Sastamala',
 '738': 'Sauvo',
 '739': 'Savitaipale',
 '740': 'Savonlinna',
 '742': 'Savukoski',
 '743': 'Seinäjoki',
 '746': 'Sievi',
 '747': 'Siikainen',
 '748': 'Siikajoki',
 '791': 'Siikalatva',
 '749': 'Siilinjärvi',
 '751': 'Simo',
 '753': 'Sipoo',
 '755': 'Siuntio',
 '758': 'Sodankylä',
 '759': 'Soini',
 '761': 'Somero',
 '762': 'Sonkajärvi',
 '765': 'Sotkamo',
 '766': 'Sottunga',
 '768': 'Sulkava',
 '771': 'Sund',
 '777': 'Suomussalmi',
 '778': 'Suonenjoki',
 '781': 'Sysmä',
 '783': 'Säkylä',
 '831': 'Taipalsaari',
 '832': 'Taivalkoski',
 '833': 'Taivassalo',
 '834': 'Tammela',
 '837': 'Tampere',
 '844': 'Tervo',
 '845': 'Tervola',
 '846': 'Teuva',
 '848': 'Tohmajärvi',
 '849': 'Toholampi',
 '850': 'Toivakka',
 '851': 'Tornio',
 '853': 'Turku',
 '857': 'Tuusniemi',
 '858': 'Tuusula',
 '859': 'Tyrnävä',
 '886': 'Ulvila',
 '887': 'Urjala',
 '889': 'Utajärvi',
 '890': 'Utsjoki',
 '892': 'Uurainen',
 '893': 'Nykarleby',
 '895': 'Uusikaupunki',
 '785': 'Vaala',
 '905': 'Vaasa',
 '908': 'Valkeakoski',
 '092': 'Vantaa',
 '915': 'Varkaus',
 '918': 'Vehmaa',
 '921': 'Vesanto',
 '922': 'Vesilahti',
 '924': 'Veteli',
 '925': 'Vieremä',
 '927': 'Vihti',
 '931': 'Viitasaari',
 '934': 'Vimpeli',
 '935': 'Virolahti',
 '936': 'Virrat',
 '941': 'Vårdö',
 '946': 'Vörå',
 '976': 'Ylitornio',
 '977': 'Ylivieska',
 '980': 'Ylöjärvi',
 '981': 'Ypäjä',
 '989': 'Ähtäri',
 '992': 'Äänekoski',
 '999': 'Unknown'}

In [2]:
# Vehicles data
from src.processors.imports import get_vehicles

vehicles = get_vehicles()

display(vehicles.dtypes)
display(vehicles.shape)
display(vehicles.head(10))

registration_date    object
intro_date           object
color                object
driving_force        object
is_hybrid            object
maker_text           object
municipality         object
mileage              object
dtype: object

(2760535, 8)

,registration_date,intro_date,color,driving_force,is_hybrid,maker_text,municipality,mileage
0,02.10.2003,20031002,6,01,NaN,Honda,837,287106
1,17.03.2006,20060317,Y,01,NaN,Toyota,989,161261
2,05.01.2007,20070105,2,02,NaN,Toyota,694,305646
3,14.03.1996,19960314,5,01,NaN,Nissan,777,272000
4,01.07.2003,20030701,8,01,NaN,Honda,851,270594
5,24.03.2000,20000324,6,01,NaN,Nissan,250,189993
6,25.10.2005,20051025,8,01,NaN,BMW,755,218813
7,NaN,19630000,9,01,NaN,Ford,200,63519
8,21.06.1999,19990621,6,01,NaN,Opel,423,457611
9,16.11.1993,19931116,2,01,NaN,Toyota,091,167672

In [3]:
import copy
from src.processors.preprocesses import clean

df = vehicles.copy(deep=True)
mun = copy.deepcopy(municipalities)

df = clean(df, mun)

# Check which high count Other labeled makers are missing from mapping
other_makers = df[df["maker"] == "Other"]
maker_counts = other_makers["maker_text"].value_counts()
top_maker_rows = other_makers[other_makers["maker_text"].isin(maker_counts.index)]
top_maker_counts_in_top_rows = top_maker_rows["maker_text"].value_counts().nlargest(10)
display(top_maker_counts_in_top_rows)

df.reset_index(inplace=True, drop=True)

# NA check
na_rows = df[df[df.columns].isna().any(axis=1)]

# Municipality check
df_mun_codes = set(df["municipality"].unique())
mun_codes = set(mun.keys())
missing = df_mun_codes - mun_codes
display(f"Municipalities mismatch with: {list(missing)}")

# Sanity checks
display(df.dtypes)
display(df.shape)  # Same size as before
display(f"Min year: {df['registration_year'].min()}", f"Max year: {df['registration_year'].max()}")
display(f"Min mileage: {df['mileage'].min()}", f"Max mileage: {df['mileage'].max()}")
display(na_rows)  # Should have none

maker_text
capron       2878
adria        2630
mg           2271
pontiac      1322
dethleffs    1291
byd          1183
hymer        1079
weinsberg     995
buick         916
plymouth      877
Name: count, dtype: int64

'Municipalities mismatch with: []'

color                object
driving_force        object
maker_text           object
municipality         object
mileage               Int32
registration_year     Int16
maker                object
dtype: object

(2760535, 7)

'Min year: 1979'

'Max year: 2025'

'Min mileage: -1'

'Max mileage: 5000000'

Empty DataFrame
Columns: [color, driving_force, maker_text, municipality, mileage, registration_year, maker]
Index: []

In [4]:
# Final data
import json
import os
from src.processors.utils import get_date
from src.processors.postprocesses import generate
from src.processors.validations import validate

date = get_date()
final = generate(df, mun, date)
valid = validate(final, mun)

if valid:
    path = os.path.join(os.path.join(os.getcwd(), "data.json"))
    file = json.dumps(final, indent=2, ensure_ascii=False)
    if os.path.isfile(path):
        os.remove(path)
    with open(path, "w", encoding="utf-8") as fh:
        fh.write(file)

display(final.keys())
display(final["municipalities"][0])

dict_keys(['date', 'municipalities'])

{'code': '020',
 'name': 'Akaa',
 'mileageCount': {'na': 580,
  'under50k': 569,
  '50kto100k': 1257,
  '100kto150k': 1265,
  '150kto200k': 1362,
  '200kto250k': 1469,
  '250kto300k': 1132,
  '300kto350k': 795,
  '350kto400k': 498,
  '400kto450k': 264,
  '450kto500k': 147,
  '500kto550k': 77,
  '550kto600k': 33,
  'over600k': 44},
 'drivingForceCount': {'diesel': 2622,
  'electricity': 391,
  'hybrid': 865,
  'other': 76,
  'petrol': 5538},
 'colorCount': {'black': 1403,
  'blue': 1272,
  'brown': 644,
  'green': 343,
  'grey': 2070,
  'other': 285,
  'red': 1273,
  'silver': 696,
  'white': 1506},
 'registrationYearCount': {'1979': 234,
  '1980': 7,
  '1981': 4,
  '1982': 12,
  '1983': 4,
  '1984': 10,
  '1985': 10,
  '1986': 12,
  '1987': 15,
  '1988': 25,
  '1989': 14,
  '1990': 33,
  '1991': 25,
  '1992': 17,
  '1993': 30,
  '1994': 34,
  '1995': 34,
  '1996': 56,
  '1997': 63,
  '1998': 104,
  '1999': 156,
  '2000': 182,
  '2001': 162,
  '2002': 238,
  '2003': 307,
  '2004': 349,
  '2005': 401,
  '2006': 399,
  '2007': 406,
  '2008': 465,
  '2009': 291,
  '2010': 399,
  '2011': 456,
  '2012': 366,
  '2013': 400,
  '2014': 392,
  '2015': 449,
  '2016': 474,
  '2017': 425,
  '2018': 424,
  '2019': 374,
  '2020': 320,
  '2021': 294,
  '2022': 250,
  '2023': 186,
  '2024': 142,
  '2025': 42},
 'makerCount': {'Alfa Romeo': 22,
  'Audi': 392,
  'BMW': 392,
  'Cadillac': 22,
  'Chevrolet': 60,
  'Chrysler': 30,
  'Citroën': 217,
  'Cupra': 4,
  'Dacia': 39,
  'Datsun': 5,
  'Dodge': 29,
  'Ferrari': 1,
  'Fiat': 146,
  'Ford': 779,
  'Honda': 181,
  'Hyundai': 155,
  'Jaguar': 20,
  'Jeep': 20,
  'Kia': 421,
  'Lada': 6,
  'Land Rover': 18,
  'Lexus': 44,
  'Mazda': 139,
  'Mercedes-Benz': 827,
  'Mini': 31,
  'Mitsubishi': 128,
  'Nissan': 480,
  'Opel': 447,
  'Other': 177,
  'Peugeot': 281,
  'Polestar': 30,
  'Porsche': 9,
  'Renault': 211,
  'Saab': 77,
  'Seat': 85,
  'Smart': 3,
  'Subaru': 34,
  'Suzuki': 51,
  'Tesla': 94,
  'Toyota': 1158,
  'Volkswagen': 942,
  'Volvo': 869,
  'Škoda': 416}}