Data sources:
- [Vehicles from Traficom](https://tieto.traficom.fi/en/datatraficom/open-data?toggle=Open%20data%20for%20vehicles)
- [Municipalities from Statistics Finland](https://stat.fi/en/luokitukset/kunta/)
- [Geographic from MAPOG](https://gisdata.mapog.com/finland/administrative_boundaries_level8_polygon)

In [1]:
# Municipalities data
from src.data_import import get_municipalities
municipalities = get_municipalities()

display(municipalities)

{'020': 'Akaa',
 '005': 'Alajärvi',
 '009': 'Alavieska',
 '010': 'Alavus',
 '016': 'Asikkala',
 '018': 'Askola',
 '019': 'Aura',
 '035': 'Brändö',
 '043': 'Eckerö',
 '046': 'Enonkoski',
 '047': 'Enontekiö',
 '049': 'Espoo',
 '050': 'Eura',
 '051': 'Eurajoki',
 '052': 'Evijärvi',
 '060': 'Finström',
 '061': 'Forssa',
 '062': 'Föglö',
 '065': 'Geta',
 '069': 'Haapajärvi',
 '071': 'Haapavesi',
 '072': 'Hailuoto',
 '074': 'Halsua',
 '075': 'Hamina',
 '076': 'Hammarland',
 '077': 'Hankasalmi',
 '078': 'Hanko',
 '079': 'Harjavalta',
 '081': 'Hartola',
 '082': 'Hattula',
 '086': 'Hausjärvi',
 '111': 'Heinola',
 '090': 'Heinävesi',
 '091': 'Helsinki',
 '097': 'Hirvensalmi',
 '098': 'Hollola',
 '102': 'Huittinen',
 '103': 'Humppila',
 '105': 'Hyrynsalmi',
 '106': 'Hyvinkää',
 '108': 'Hämeenkyrö',
 '109': 'Hämeenlinna',
 '139': 'Ii',
 '140': 'Iisalmi',
 '142': 'Iitti',
 '143': 'Ikaalinen',
 '145': 'Ilmajoki',
 '146': 'Ilomantsi',
 '153': 'Imatra',
 '148': 'Inari',
 '149': 'Ingå',
 '151': 'Isojoki',
 '152': 'Isokyrö',
 '165': 'Janakkala',
 '167': 'Joensuu',
 '169': 'Jokioinen',
 '170': 'Jomala',
 '171': 'Joroinen',
 '172': 'Joutsa',
 '176': 'Juuka',
 '177': 'Juupajoki',
 '178': 'Juva',
 '179': 'Jyväskylä',
 '181': 'Jämijärvi',
 '182': 'Jämsä',
 '186': 'Järvenpää',
 '202': 'Kaarina',
 '204': 'Kaavi',
 '205': 'Kajaani',
 '208': 'Kalajoki',
 '211': 'Kangasala',
 '213': 'Kangasniemi',
 '214': 'Kankaanpää',
 '216': 'Kannonkoski',
 '217': 'Kannus',
 '218': 'Karijoki',
 '224': 'Karkkila',
 '226': 'Karstula',
 '230': 'Karvia',
 '231': 'Kaskinen',
 '232': 'Kauhajoki',
 '233': 'Kauhava',
 '235': 'Kauniainen',
 '236': 'Kaustinen',
 '239': 'Keitele',
 '240': 'Kemi',
 '320': 'Kemijärvi',
 '241': 'Keminmaa',
 '322': 'Kimitoön',
 '244': 'Kempele',
 '245': 'Kerava',
 '249': 'Keuruu',
 '250': 'Kihniö',
 '256': 'Kinnula',
 '257': 'Kirkkonummi',
 '260': 'Kitee',
 '261': 'Kittilä',
 '263': 'Kiuruvesi',
 '265': 'Kivijärvi',
 '271': 'Kokemäki',
 '272': 'Kokkola',
 '273': 'Kolari',
 '275': 'Konnevesi',
 '276': 'Kontiolahti',
 '280': 'Korsnäs',
 '284': 'Koski Tl',
 '285': 'Kotka',
 '286': 'Kouvola',
 '287': 'Kristinestad',
 '288': 'Kronoby',
 '290': 'Kuhmo',
 '291': 'Kuhmoinen',
 '295': 'Kumlinge',
 '297': 'Kuopio',
 '300': 'Kuortane',
 '301': 'Kurikka',
 '304': 'Kustavi',
 '305': 'Kuusamo',
 '312': 'Kyyjärvi',
 '316': 'Kärkölä',
 '317': 'Kärsämäki',
 '318': 'Kökar',
 '398': 'Lahti',
 '399': 'Laihia',
 '400': 'Laitila',
 '407': 'Lapinjärvi',
 '402': 'Lapinlahti',
 '403': 'Lappajärvi',
 '405': 'Lappeenranta',
 '408': 'Lapua',
 '410': 'Laukaa',
 '416': 'Lemi',
 '417': 'Lemland',
 '418': 'Lempäälä',
 '420': 'Leppävirta',
 '421': 'Lestijärvi',
 '422': 'Lieksa',
 '423': 'Lieto',
 '425': 'Liminka',
 '426': 'Liperi',
 '444': 'Lohja',
 '430': 'Loimaa',
 '433': 'Loppi',
 '434': 'Loviisa',
 '435': 'Luhanka',
 '436': 'Lumijoki',
 '438': 'Lumparland',
 '440': 'Larsmo',
 '441': 'Luumäki',
 '475': 'Malax',
 '478': 'Mariehamn',
 '480': 'Marttila',
 '481': 'Masku',
 '483': 'Merijärvi',
 '484': 'Merikarvia',
 '489': 'Miehikkälä',
 '491': 'Mikkeli',
 '494': 'Muhos',
 '495': 'Multia',
 '498': 'Muonio',
 '499': 'Korsholm',
 '500': 'Muurame',
 '503': 'Mynämäki',
 '504': 'Myrskylä',
 '505': 'Mäntsälä',
 '508': 'Mänttä-Vilppula',
 '507': 'Mäntyharju',
 '529': 'Naantali',
 '531': 'Nakkila',
 '535': 'Nivala',
 '536': 'Nokia',
 '538': 'Nousiainen',
 '541': 'Nurmes',
 '543': 'Nurmijärvi',
 '545': 'Närpes',
 '560': 'Orimattila',
 '561': 'Oripää',
 '562': 'Orivesi',
 '563': 'Oulainen',
 '564': 'Oulu',
 '309': 'Outokumpu',
 '576': 'Padasjoki',
 '577': 'Paimio',
 '578': 'Paltamo',
 '445': 'Pargas',
 '580': 'Parikkala',
 '581': 'Parkano',
 '599': 'Pedersöre',
 '583': 'Pelkosenniemi',
 '854': 'Pello',
 '584': 'Perho',
 '588': 'Pertunmaa',
 '592': 'Petäjävesi',
 '593': 'Pieksämäki',
 '595': 'Pielavesi',
 '598': 'Jakobstad',
 '601': 'Pihtipudas',
 '604': 'Pirkkala',
 '607': 'Polvijärvi',
 '608': 'Pomarkku',
 '609': 'Pori',
 '611': 'Pornainen',
 '638': 'Porvoo',
 '614': 'Posio',
 '615': 'Pudasjärvi',
 '616': 'Pukkila',
 '619': 'Punkalaidun',
 '620': 'Puolanka',
 '623': 'Puumala',
 '624': 'Pyhtää',
 '625': 'Pyhäjoki',
 '626': 'Pyhäjärvi',
 '630': 'Pyhäntä',
 '631': 'Pyhäranta',
 '635': 'Pälkäne',
 '636': 'Pöytyä',
 '678': 'Raahe',
 '710': 'Raseborg',
 '680': 'Raisio',
 '681': 'Rantasalmi',
 '683': 'Ranua',
 '684': 'Rauma',
 '686': 'Rautalampi',
 '687': 'Rautavaara',
 '689': 'Rautjärvi',
 '691': 'Reisjärvi',
 '694': 'Riihimäki',
 '697': 'Ristijärvi',
 '698': 'Rovaniemi',
 '700': 'Ruokolahti',
 '702': 'Ruovesi',
 '704': 'Rusko',
 '707': 'Rääkkylä',
 '729': 'Saarijärvi',
 '732': 'Salla',
 '734': 'Salo',
 '736': 'Saltvik',
 '790': 'Sastamala',
 '738': 'Sauvo',
 '739': 'Savitaipale',
 '740': 'Savonlinna',
 '742': 'Savukoski',
 '743': 'Seinäjoki',
 '746': 'Sievi',
 '747': 'Siikainen',
 '748': 'Siikajoki',
 '791': 'Siikalatva',
 '749': 'Siilinjärvi',
 '751': 'Simo',
 '753': 'Sipoo',
 '755': 'Siuntio',
 '758': 'Sodankylä',
 '759': 'Soini',
 '761': 'Somero',
 '762': 'Sonkajärvi',
 '765': 'Sotkamo',
 '766': 'Sottunga',
 '768': 'Sulkava',
 '771': 'Sund',
 '777': 'Suomussalmi',
 '778': 'Suonenjoki',
 '781': 'Sysmä',
 '783': 'Säkylä',
 '831': 'Taipalsaari',
 '832': 'Taivalkoski',
 '833': 'Taivassalo',
 '834': 'Tammela',
 '837': 'Tampere',
 '844': 'Tervo',
 '845': 'Tervola',
 '846': 'Teuva',
 '848': 'Tohmajärvi',
 '849': 'Toholampi',
 '850': 'Toivakka',
 '851': 'Tornio',
 '853': 'Turku',
 '857': 'Tuusniemi',
 '858': 'Tuusula',
 '859': 'Tyrnävä',
 '886': 'Ulvila',
 '887': 'Urjala',
 '889': 'Utajärvi',
 '890': 'Utsjoki',
 '892': 'Uurainen',
 '893': 'Nykarleby',
 '895': 'Uusikaupunki',
 '785': 'Vaala',
 '905': 'Vaasa',
 '908': 'Valkeakoski',
 '092': 'Vantaa',
 '915': 'Varkaus',
 '918': 'Vehmaa',
 '921': 'Vesanto',
 '922': 'Vesilahti',
 '924': 'Veteli',
 '925': 'Vieremä',
 '927': 'Vihti',
 '931': 'Viitasaari',
 '934': 'Vimpeli',
 '935': 'Virolahti',
 '936': 'Virrat',
 '941': 'Vårdö',
 '946': 'Vörå',
 '976': 'Ylitornio',
 '977': 'Ylivieska',
 '980': 'Ylöjärvi',
 '981': 'Ypäjä',
 '989': 'Ähtäri',
 '992': 'Äänekoski'}

In [2]:
# Vehicles data
from src.data_import import get_vehicles
vehicles = get_vehicles()

display(vehicles.dtypes)
display(vehicles.shape)
display(vehicles.head(10))

registration_date    object
intro_date           object
color                object
driving_force        object
is_hybrid            object
maker_text           object
municipality         object
odometer             object
dtype: object

(2836294, 8)

,registration_date,intro_date,color,driving_force,is_hybrid,maker_text,municipality,odometer
0,1984-07-09,19840000,1,01,NaN,Ford,740,NaN
1,1990-05-08,19900508,9,01,NaN,Citroen,091,NaN
2,2003-10-02,20031002,6,01,NaN,Honda,837,284104
3,2006-03-17,20060317,Y,01,NaN,Toyota,989,155944
4,2007-01-05,20070105,2,02,NaN,Toyota,694,2692651
5,1996-03-14,19960314,5,01,NaN,Nissan,777,262907
6,2003-07-01,20030701,8,01,NaN,Honda,851,262915
7,2000-03-24,20000324,6,01,NaN,Nissan,250,186269
8,2005-10-25,20051025,8,01,NaN,BMW,755,205732
9,2001-06-06,20010606,Y,01,NaN,Hyundai,407,389645

In [3]:
import copy
import importlib
import src.data_cleaning

importlib.reload(src.data_cleaning)

df = vehicles.copy(deep=True)
mun = copy.deepcopy(municipalities)

(df, mun) = src.data_cleaning.clean(df, mun)

# Check which high count Other labeled makers are missing from mapping
other_makers = df[df["maker"] == "Other"]
maker_counts = other_makers["maker_text"].value_counts()
top_maker_rows = other_makers[other_makers["maker_text"].isin(maker_counts.index)]
top_maker_counts_in_top_rows = top_maker_rows["maker_text"].value_counts().nlargest(10)
display(top_maker_counts_in_top_rows)

df.reset_index(inplace=True, drop=True)

# NA check
na_rows = df[df[df.columns].isna().any(axis=1)]

# Sanity checks
display(df.dtypes)
display(df.shape) # Same size as before
display(f"Min year: {df["registration_year"].min()}", f"Max year: {df["registration_year"].max()}")
display(na_rows) # Should have none

maker_text
capron       2712
adria        2626
mg           1667
pontiac      1388
dethleffs    1327
hymer        1041
buick         920
weinsberg     913
plymouth      880
hobby         760
Name: count, dtype: int64

color                object
driving_force        object
maker_text           object
municipality         object
odometer              Int32
registration_year     Int16
maker                object
dtype: object

(2836294, 7)

'Min year: 1979'

'Max year: 2024'

Empty DataFrame
Columns: [color, driving_force, maker_text, municipality, odometer, registration_year, maker]
Index: []

In [4]:
# Final data
import json
import importlib
import os
import src.data_cleaning
import src.data_import
import src.data_validation


importlib.reload(src.data_cleaning)
importlib.reload(src.data_validation)

date = src.data_import.get_date()
final = src.data_cleaning.generate(df, mun, date)
valid = src.data_validation.validate(final, mun)

if valid:
    path = os.path.join(os.path.join(os.getcwd(), "data.json"))
    file = json.dumps(final, indent=2, ensure_ascii=False)
    if os.path.isfile(path):
        os.remove(path)
    with open(path, "w", encoding="utf-8") as fh:
        fh.write(file)

display(final.keys())
display(final["municipalities"][0])

dict_keys(['date', 'municipalities'])

{'code': '020',
 'name': 'Akaa',
 'countByDrivingForce': {'diesel': 2781,
  'electricity': 311,
  'hybrid': 769,
  'other': 74,
  'petrol': 6282},
 'countByColor': {'black': 1428,
  'blue': 1444,
  'brown': 738,
  'green': 430,
  'grey': 2186,
  'other': 282,
  'red': 1480,
  'silver': 676,
  'white': 1553},
 'countByRegistrationYear': {'1979': 115,
  '1980': 10,
  '1981': 10,
  '1982': 15,
  '1983': 25,
  '1984': 33,
  '1985': 46,
  '1986': 56,
  '1987': 76,
  '1988': 86,
  '1989': 93,
  '1990': 104,
  '1991': 40,
  '1992': 43,
  '1993': 42,
  '1994': 41,
  '1995': 51,
  '1996': 74,
  '1997': 76,
  '1998': 107,
  '1999': 146,
  '2000': 179,
  '2001': 166,
  '2002': 248,
  '2003': 337,
  '2004': 329,
  '2005': 410,
  '2006': 403,
  '2007': 371,
  '2008': 456,
  '2009': 304,
  '2010': 417,
  '2011': 459,
  '2012': 390,
  '2013': 350,
  '2014': 402,
  '2015': 432,
  '2016': 449,
  '2017': 432,
  '2018': 460,
  '2019': 441,
  '2020': 374,
  '2021': 362,
  '2022': 329,
  '2023': 309,
  '2024': 119},
 'countByMaker': {'Alfa Romeo': 17,
  'Audi': 405,
  'BMW': 395,
  'Cadillac': 23,
  'Chevrolet': 67,
  'Chrysler': 37,
  'Citroën': 229,
  'Cupra': 3,
  'Dacia': 40,
  'Datsun': 13,
  'Dodge': 32,
  'Fiat': 167,
  'Ford': 856,
  'Honda': 191,
  'Hyundai': 153,
  'Jaguar': 24,
  'Jeep': 27,
  'Kia': 395,
  'Lada': 33,
  'Land Rover': 16,
  'Lexus': 44,
  'Mazda': 174,
  'Mercedes-Benz': 867,
  'Mini': 23,
  'Mitsubishi': 146,
  'Nissan': 552,
  'Opel': 524,
  'Other': 188,
  'Peugeot': 326,
  'Polestar': 16,
  'Porsche': 14,
  'Renault': 228,
  'Saab': 92,
  'Seat': 102,
  'Smart': 4,
  'Subaru': 39,
  'Suzuki': 62,
  'Tesla': 85,
  'Toyota': 1299,
  'Volkswagen': 978,
  'Volvo': 881,
  'Škoda': 450}}